<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FUck these widgets</h1>
    <table>
        <thead>
            <th>Quantity</th>
            <th>Description</th>
            <th></th>
        </thead>
        <tbody>
            {% if widget %}
            {% for w in widget %}
            <tr>
                <td>{{ w.quantity }} </td>
                <td>{{ w.description}}</td>
                <td><form action="{% url 'delete_widget' w.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="id" value="{{ w.id }}" hidden>
                    <button>X</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>submit</button>
    </form>
</body>
</html>